@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background: lavender;
    font-family: 'Oswald', sans-serif;
}

h1,
h3,
p {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 300px;
}

button {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: grey;
    color: white;
    border: 2px solid black;
}